  <div class="about_us_whole_block">
<div class="line"></div>
<div id="we_are_multi">
             <img id="body-second-pic" src="{{ 'text-about-us.png' | media }}" alt="Logo-link">
</div>



<div id="container-about-us">

    <div id="element1-about-us ">
        <img src="{{ 'photo1-about-us.png' | media }}" alt="Logo-link">
    </div>
    <div id="element2-about-us">

       <p> From the beginning, Karina and Irina envisioned creating a marketing agency that would blend creativity with strategic insight. With Karina’s flair for innovation and Irina’s sharp strategic mind, they turned their vision into reality. Their shared commitment to personalized service and deep project involvement set the foundation for their agency. Karina and Irina didn’t just take on projects; they immersed themselves in them, building an agency where dreams come true and successful brands are crafted through a perfect mix of youthful energy and seasoned experience.</p>
<div class="button-container">
        <a href="https://wa.me/420730479001?text=Hello%2C%20I%20am%20interested%20in%20your%20services." target="_blank">
            <button class="custom-button">Let’s discuss</button>
        </a>
</div>
    </div>
    <div id="element3-about-us">
        <img src="{{ 'element3-about-us.png' | media }}" alt="Logo-link">
    </div>
</div>

</div>



<!-- mobile  -->
 <div class="about_us_whole_block_mobile">
<div id="we_are_multi_mobile">
    <img id="body-second-pic" src="{{ 'we_are_multi_mobile.png' | media }}" alt="Logo-link">
</div>
<div>
    <p> From the beginning, Karina and Irina envisioned creating a marketing agency that would blend creativity with strategic insight. With Karina’s flair for innovation and Irina’s sharp strategic mind, they turned their vision into reality. Their shared commitment to personalized service and deep project involvement set the foundation for their agency. Karina and Irina didn’t just take on projects; they immersed themselves in them, building an agency where dreams come true and successful brands are crafted through a perfect mix of youthful energy and seasoned experience.</p>
</div>
<div class="button-container-mobile">
    <a href="https://wa.me/420730479001?text=Hello%2C%20I%20am%20interested%20in%20your%20services." target="_blank">
        <button class="custom-button">Let’s discuss</button>
    </a>
</div>
<div class="mobile_about_us_pic">
    <img class="body-first-pic-mob5" src="{{ 'mobile_5th_inovathess.png' | media }}" alt="Logo-link-">
    <img class="body-first-pic-mob6" src="{{ 'mobile_6th_our_clients.png' | media }}" alt="Logo-link">
    
</div>

</div>