<!-- CASE  studies -->
 <div class="case-review">
<div class="case-studies">
    <div class="case-studies-text">
    <img src="{{ 'case-studies.png' | media }}" alt="case-studies">
</div>

<div class="case-studies-pic-wrapper">
    <img class="case-studies-pic" src="{{ 'case-studies-pic.jpg' | media }}" alt="case-studies-pic">
</div>
</div>

<div class="review-wrapper">
    <div class="HEAR-WHAT-text">
    <img src="{{ 'HEAR-WHAT.png' | media }}" alt="HEAR-WHAT">
    </div>

    <div class="review-text">
        <div class="review-text-block">
            <div class="review-pic">
                <img src="{{ 'review-milena.png' | media }}" >
            </div>
            <div class="review-text-header">“An amazing service”</div>
            <div class="review-text-main">I want to say a huge thank you for your amazing work. For more than three years now you have been doing just amazing content for our projects and it's just magical! Our social networks are not only our business card, but also a full-fledged tool for earning money, so I am very happy with our co-operation.</div>
            <div class="review-text-list"><p><b>Milena</b></p>CEO Beauty Symphony - Praha</div>
        </div>
        <div class="review-text-block">
            <div class="review-pic">
                <img src="{{ 'review-matia.png' | media }}" >
            </div>
            <div class="review-text-header">“Highly recommend”</div>
            <div class="review-text-main">We highly recommend the digital marketing services provided by LINK. Their expertise in strategizing and executing digital campaigns is impressive. Thanks to your efforts, we achieved remarkable results in terms of increased website traffic and lead generation. We're grateful for your commitment to our success.</div>
            <div class="review-text-list"><p><b>Matia</b></p>Matia
                MRP Clinic - Italy</div>
        </div>
        <div class="review-text-block">
            <div class="review-pic">
                <img src="{{ 'review-vitalii.png' | media }}" >
            </div>
            <div class="review-text-header">“True professional in creating ”</div>
            <div class="review-text-main">Thanks a lot for your hard work. I’m happy to work with you and admire your approach to photoshoots and any other aspect of our work. You put your whole heart to your work and it’s reflected in result! You’re a true professional in creating most attractive pictures and eye-catching videos.</div>
            <div class="review-text-list"><p><b>Vitalii</b></p>
                MORE Estate - Dominican Republic</div>
        </div>
        <div class="review-text-block">
            <div class="review-pic">
                <img src="{{ 'review-katalin.png' | media }}" >
            </div>
            <div class="review-text-header">“ Professional approach ”</div>
            <div class="review-text-main">Thanks to their help, our company was able to significantly increase brand awareness and attract new customers. The results exceeded our expectations, and we are happy to work with such a responsible and creative team. Thank you very much for your efforts and inspiration!</div>
            <div class="review-text-list"><p><b>Katalin</b></p>
                Brow Studio - Praha</div>
        </div>
    </div>
</div>
</div>