<div class="trusted_companies_wrapper">
    <div class="trusted_companies">
        Trusted companies around the world
    </div>
    <div class="trusted_companies_pic">
        <img src="{{ 'companies-picture.png' | media }}" alt="companies">
    </div>
</div>

<!-- mobile -->

<div class="trusted_companies_wrapper_mobile">
    <div class="trusted_companies">
        TRUSTED COMPANIES AROUND the WORLD
    </div>
    <div class="trusted_companies_pic">
        <img src="{{ 'mobile_7th_companies.png' | media }}" alt="companies">
    </div>
</div>
