<div class="lets-devise-wrapper">
    <div class="lets-devise">
        <img src="{{ 'lets-dievise-text.png' | media }}" alt="Let's Devise Text">
        <div class="line-contact"></div>
    </div>

    <div class="contact-button-wrapper">
        <div class="contact-text">CONTACT US</div>
        <a href="https://wa.me/420730479001?text=Hello%2C%20I%20am%20interested%20in%20your%20services." target="_blank">
            <button class="contact-button">
                <img src="{{'we-help-button-pic.png' | media }}" alt="We Help Button" class="button-image">
            </button>
        </a>
    </div>
</div>

<!-- mobile -->
<div class="lets-devise-wrapper-mobile">
    <div class="lets-devise-mobile">
        <img src="{{ 'lets-dievise-text-mobile.png' | media }}" alt="Let's Devise Text">
    </div>

    <div class="contact-button-wrapper">
        <div class="contact-text">CONTACT US</div>
        <a href="https://wa.me/420730479001?text=Hello%2C%20I%20am%20interested%20in%20your%20services." target="_blank">
            <button class="contact-button">
                <img src="{{'we-help-button-pic.png' | media }}" alt="We Help Button" class="button-image">
            </button>
        </a>
    </div>
</div>

<div class="contactFormAndText">
    <div class="contact-form">
        <h2>Or leave your email and we will contact you ourselves to discuss working together</h2>
        <div class="form-wrapper">
            <form method="post" id="contactForm">
                <input type="text" name="name" placeholder="Your Name" required />
                <input type="tel" name="phone" placeholder="Your Phone Number" />
                <input type="email" name="email" placeholder="Your Email" required />
                <textarea name="message" placeholder="Your message" required></textarea>
                <button type="submit">Send</button>
            </form>
            <div id="form-result"></div> <!-- To show success/error messages -->
        </div>
    </div>

    <div class="based_social">
        <div class="based-in">
            <p>BASED IN</p>
            <p>Czech Republic</p>
        </div>
        <div class="social_media">
            <div class="social_media_text">OUR SOCIAL MEDIA</div>
            <div class="social_media_links">
                <a href="https://www.instagram.com/link.us.eu" target="_blank">
                    <img src="{{ 'insta.png' | media }}" alt="">
                </a>
                <a href="https://www.facebook.com/profile.php?id=61565505455660" target="_blank">
                    <img src="{{ 'facebook.png' | media }}" alt="">
                </a>
                <a href="https://www.tiktok.com/@link.us.eu" target="_blank">
                    <img src="{{ 'tiktok.png' | media }}" alt="">
                </a>
                <a href="https://t.me/linkuseu" target="_blank">
                    <img src="{{ 'telegramm.png' | media }}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>




<script>
    document.querySelector("form").addEventListener("submit", function(event) {
        event.preventDefault(); // Зупиняє стандартну відправку форми

        const formData = new FormData(this); // Створюємо об'єкт FormData з полів форми
        const xhr = new XMLHttpRequest(); // Створюємо новий XMLHttpRequest

        xhr.open("POST", "", true); // Відправка на поточну сторінку
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                document.getElementById("form-result").innerHTML = xhr.responseText; // Відображення відповіді
                document.querySelector("form").reset(); // Очистка форми після успішної відправки
            }
        };

        xhr.send(formData); // Відправка даних форми
    });
</script>
