<nav>
<div id="container" >
<div id="logo-container"><img src="{{ 'logo-link-main.png' | media }}" alt="Logo-link"></div>
<div id="nav-container"><ul class="nav navbar-nav">
                
                <li><a href="{{ 'home'|page }}">Home</a></li>
                <li><a href="{{ 'About us'|page }}">About us</a></li>
                <li><a href="{{ 'Rrivilege'|page }}">Privilege</a></li>
                <li><a href="{{ 'Service list'|page  }}">Service list</a></li>
                <li><a href="{{ 'Contact'|page  }}">Contact</a></li>
            </ul>
</div>
<div id="round-button-nav">
<button class="round-button">
    &#8594;
</button>
</div>
</div>
</nav>