<div class="service_list">
<div class="we_help_wrapper">
    <div class="we_help_content">
        <div class="we_help_left_part">
            <img src="{{ 'we-help-Heading.png' | media }}" alt="we-help-Heading">
        </div>
        <div class="we_help_text">
            We are not fast, cheap, or boring. What we are is focused on maximizing results and pushing projects to their potential. We leverage our diverse industry knowledge and experience to find the right solution for every challenge.
    <div class="we-help-button-wrapper">
    <button class="we-help-button">
        <img src="{{'we-help-button-pic.png' | media }}" alt="We Help Button" class="button-image">
    </button>
</div>
        </div>   
    </div>
    <div class="we_help_pic">
        <img src="{{ 'we-help-pic.png' | media }}" alt="we-help-picture">
    </div>
</div>

<div>
    <div class="capabilities-header">
    <img src="{{ 'capabilities.png' | media }}" alt="capabilities-header">
    </div>

    <div class="capabilities-text">
<div class="capabilities-text-block" >
    <div class="capabilities-text-header">SOCIAL MEDIA MARKETING</div>
    <div class="capabilities-text-main">Let ’s plant your flag as the market leader and create a lasting impression with your audience</div>
    <div class="capabilities-text-list">
        SMM Promotion <br>
Content Strategy  <br>
Brand Evolution   <br>
Influence Marketing 
    </div>
</div>
<div class="capabilities-text-block" >
    <div class="capabilities-text-header">DESIGN <br> BRANDING </div>
    <div class="capabilities-text-main">We specialize in creating unique visual elements, from logos to full brand guidelines, ensuring your brand stands out in the market.</div>
    <div class="capabilities-text-list">
        Graphic Design  <br>
        Web - design    <br>
        Unique Style</div>
</div>
<div class="capabilities-text-block" >
    <div class="capabilities-text-header">
        <br>PRODUCTION </div>
    <div class="capabilities-text-main">You don't have to think about packaging the profile or creating a website to fill it. All this is provided by us and our professionals </div>
    <div class="capabilities-text-list">Photo & Video production </div>
</div>
<div class="capabilities-text-block" > 
    <div class="capabilities-text-header">WEB-DEVELOPMENT </div>
    <div class="capabilities-text-main">Communication is the anchor of our research process. Understanding your project inside and out drives our thinking and proactive approach.</div>
    <div class="capabilities-text-list">Research    <br>
        UX    <br>
        Information Architecture    <br>
        Prototyping</div>
</div>
</div>


</div>
</div>



